<template>
  <div class="display-4">
    <main class="mt-11">
      <v-container fluid fill-height class="loginOverlay">
        <v-layout flex align-center justify-center>
          <v-flex xs12 sm12 elevation-4>
            <v-card>
              <v-card-text class="pt-4">
                <p class="headline">Inmobily</p>
                <div class="video-img-wrapper">
                  <img
                    class="pa-4"
                    :src="videoInfo.snippet.thumbnails.high.url"
                    alt="thumbnails of video"/>
                </div>
                <div class="my-4">
                  <p class="d-inline-block">{{ videoInfo.snippet.title }}</p>
                  <v-btn class="float-right" color="error">Add To Favorite</v-btn>
                </div>
                <hr />
                <div class="py-4" v-if="videoStatistics ">
                  <v-icon>mdi-eye</v-icon>
                  {{ videoStatistics.statistics.viewCount }}
                  <v-icon class="ml-4">mdi-thumb-up-outline</v-icon>
                  {{ videoStatistics.statistics.likeCount }}
                </div>
                <hr />
                <p class="mt-4">Published on {{ videoInfo.snippet.publishedAt | formatDate }}</p>
                <hr />
                <p class="mt-4">{{ videoInfo.snippet.description }}</p>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </div>
</template>
<script>
import ServiceExample from "@/core/services/service-example";

export default {
  data: () => ({
    videoInfo: null,
    videoStatistics: null
  }),
  created() {
    var allVidData = JSON.parse(window.localStorage.getItem("videoData"));
    this.videoInfo = allVidData;
    var id = allVidData.id.videoId;
    const response = ServiceExample.getvIdeoDetails(id);
    response
      .then(({ data }) => {
        this.videoStatistics = data.items[0];
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>
<style scoped>
.video-img-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}
.video-img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
