<template>
  <div class="display-4">
    <main class="mt-11">
      <v-container fluid fill-height class="loginOverlay">
        <v-layout flex align-center justify-center>
          <v-flex xs12 sm10 elevation-4>
            <v-card>
              <v-card-text class="pt-4">
                <v-card-title class="mb-4">
                  inmobly
                  <v-spacer></v-spacer>
                  <v-spacer></v-spacer>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search by video title"
                    rounded
                    dense
                    solo
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  default-sort="title:asc"
                  :headers="headers"
                  :items="filteredSearchItems"
                  :custom-sort="customSort"
                  hide-default-footer
                >
                  <template v-slot:body="{items}">
                    <tbody>
                      <tr v-for="(item, idx) in items" :key="idx">
                        <td>
                          <img
                            class="pa-4"
                            :src="item.snippet.thumbnails.default.url"
                            alt="thumbnails of video"
                          />
                        </td>
                        <td>{{ item.snippet.title }}</td>
                        <td>{{ item.snippet.publishedAt | formatDate }}</td>
                        <td>
                          <v-btn small color="primary" @click="viewDetails(item)">Details</v-btn>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-data-table>
                <div class="text-right mt-4">
                  <v-btn text icon @click="prevPage()" large color="gray">
                    <v-icon>mdi-chevron-left-box</v-icon>
                  </v-btn>
                  <v-btn text icon @click="nextPage()" large color="gray">
                    <v-icon>mdi-chevron-right-box</v-icon>
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </div>
</template>
<script>
import ServiceExample from "@/core/services/service-example";

export default {
  data: () => ({
    search: "",
    videos: [],
    allData: {}
  }),
  methods: {
    viewDetails(item) {
      window.localStorage.setItem("videoData", JSON.stringify(item));
      this.$router.push({
        name: "searchResults",
        params: { id: item.id.videoId }
      });
    },
    getAllVideos(tokenFlag) {
      let self = this;
      const response = ServiceExample.getAllDataService(tokenFlag);
      response
        .then(({ data }) => {
          self.allData = data;
          self.videos = data.items;
          self.$offlineStorage.set("storedVideos", self.videos);
        })
        .catch(err => {
          console.log(err);
        });
    },
    nextPage() {
      if (this.allData.hasOwnProperty("nextPageToken")) {
        this.getAllVideos(this.allData.nextPageToken);
      }
    },
    prevPage() {
      if (this.allData.hasOwnProperty("prevPageToken")) {
        this.getAllVideos(this.allData.prevPageToken);
      }
    },
    customSort(items, index, isDescending) {
      // The following is informations as far as I researched.
      // items: 'videos' items
      // index: Enabled sort headers value. (black arrow status).
      // isDescending: Whether enabled sort headers is desc
      items.sort((a, b) => {
        if (!isDescending) {
          if (index[0] == "title") {
            if (b.snippet.title > a.snippet.title) {
              return -1;
            } else if (a.snippet.title > b.snippet.title) {
              return 1;
            } else {
              return 0;
            }
          }
        } else {
          if (index[0] == "title") {
            if (b.snippet.title > a.snippet.title) {
              return 1;
            } else if (a.snippet.title > b.snippet.title) {
              return -1;
            } else {
              return 0;
            }
          }
        }
      });

      return items;
    }
  },
  computed: {
    headers() {
      const headersList = [
        { text: "picture", value: "picture" },
        { text: "Title", value: "title", sortable: true },
        { text: "Publish Date", value: "publish_date", sortable: false },
        { text: "action", value: "action" }
      ];
      const headers = [];
      headersList.map(header => {
        headers.push({
          text: header.text,
          value: header.value
        });
      });
      headers.push({ text: "", value: "id" });
      return headers;
    },
    // search video titles
    filteredSearchItems() {
      let self = this;
      return this.videos.filter(i => {
        return (
          !self.search ||
          i.snippet.title
            .toString()
            .toLowerCase()
            .includes(self.search.toString().toLowerCase())
        );
      });
    }
  },
  created() {
    var flagPage = 1;
    this.getAllVideos(flagPage);
  },
  mounted() {
    if (!this.isOnline) {
      this.videos = this.$offlineStorage.get("storedVideos");
    }
    this.$on("online", () => {
      var flagPage = 1;
      this.getAllVideos(flagPage);
    });
  }
};
</script>
<style scoped>
v-btn {
  cursor: pointer;
}
</style>