@import '../variables';

.page-header {
	margin-bottom: 15px;
}
.page-bar {
	div:nth-child(2) {
		padding-bottom: 0;
	}
}

.v-application.v-application--is-rtl {
	.page-bar {
		div:nth-child(2) button {
			float: left!important;
		}
	}
}

.form {
	padding: 40px 15px 0 25px;
	#{$deep}__header {
		margin-bottom: 40px;
	}
	#{$deep}__assign {
		font-size: .9rem;
		letter-spacing: .5px;
		margin-bottom: 20px;
		i {
			font-size: 1rem;
			margin-top: -3px;
		}
	}
	#{$deep}__footer {
		margin-top: 50px;
		button {
			font-size: .7rem;
		}
	}
}

.driver__edit {
	height: 100%;
	position: relative;
}