@font-face {
  font-family: "CANDARA";
  src: url("assets/fonts/CANDARA.eot");
  src: local("CANDARA"), url("assets/fonts/CANDARA.woff") format("woff"),
  url("assets/fonts/CANDARA.ttf") format("truetype");
}
