@import "./_variables.scss";
@import "./fonts.scss";
@import "./helpers.scss";

/* ===== GLOBAL STYLES ===== */
html {
  font-size: 16px;
  overflow-y: auto;
  text-transform: none !important;
}
.v-content {
  background-color: #f2f2f2 !important;
}
.table-search {
  .v-input__slot {
    border-bottom: 2px solid #707070;
  }
}

a {
  text-decoration: none;
}
.page-wrap {
  background-color: #f2f2f2;
}
.v-application,
.v-application .headline {
  font-family: "CANDARA" !important;
}

.v-application.v-application--is-rtl {
  .input-code {
    left: auto;
    right: -9999;
  }
}

.security-code-container {
  direction: rtl;
}

.security-code-wrap {
  .field-wrap {
    text-align: center;
  }
}

.form {
  &--remove-spin input[type="number"] {
    // Firefox
    -moz-appearance: textfield;
  }

  &--remove-spin input::-webkit-outer-spin-button,
  &--remove-spin input::-webkit-inner-spin-button {
    // Webkit
    -webkit-appearance: none;
  }

  &__label {
    color: rgba(0, 0, 0, 0.54);
  }
}

/* ===== HELPER CLASSES ===== */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.pointer {
  cursor: pointer !important;
}

.w-100 {
  width: 100% !important;
}

.v-align-b {
  vertical-align: bottom;
}

.error-message {
  color: red;
}

.v-h-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__footer {
  margin-top: 20px;
}

/* ===== Data Table ===== */
.v-data-table__wrapper {
  table {
    text-align: center !important;
  }
}
.theme--light.v-data-table thead tr:last-child th {
  border-bottom-color: #ababab;
  text-align: center !important;
}
.extarnaluser .theme--light.v-data-table thead tr:last-child th {
  text-align: left !important;
}
.v-data-table-header {
  tr th:last-of-type {
    display: none !important;
  }
}
